.idea/
.vscode/

*.js
*.js.map
*.d.ts
*.d.ts.map
/sourcemaps/
/node_modules/
!/test/*.test.ts
# for dev
!/scripts/
!/test/*.test.js
/src/proto/DataReqCollection.proto
/src/proto/DataReSCollection.proto
.env.*
!.env.example
